.title {
  background-color: hsl(60, 100%, 90%);
  color: hsl(240, 100%, 10%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.esl {
  background-color: darkmagenta;
  color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 3em;
}

.code {
  background-color: black;
  color: green;
  font-family: 'Courier New', Courier, monospace;
}