/* using Bootstrap, how much of this will change or be deleted??? */
.app {
  padding: 10px;
}

.form-input {
  margin: 10px;
}

.form-input input, .form-input textarea {
  width: 100%;
  padding: 1.5vh 1.5vw;
  font-size: 1.5vh;
  line-height: 2vh;
  border-radius: 6px;
  border: 1px solid blue;
  font-weight: 700;

}

.blog-post_display {
  border: 1px solid blue;
  border-radius: 6px;
  margin: 5px 0px;
  padding: 10px;
  outline: none;
}

form {
  width: 50%;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {  
  background-color: lightgrey;
  font-weight: 700;
}

button {
  font-weight: 700;
  background-color: lightgrey;
  color: blue;
  padding: 1.5vh 1.5vw;
  font-size: 1.5vh;
  line-height: 2vh;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
/* spinning React logo from before

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/